/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

*{
	font-size: 2rem;
}

.navbar-brand{
	color:#212121 !important;
	text-transform: uppercase;
}

.navbar-right li a{
	margin-right: 1px;
	color:white !important; 
	border-radius: 0px !important;
	margin-top: 3px;
}
.navbar-right li a:hover{
	color:#212121 !important;
}

.search{
	color: #212121;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ddd;
}